---
import '../styles/global.css';

const pageTitle = "About Me";

const identity = {
  firstName: "Domjan",
  lastName: "Grkinic",
  country: "Germany",
  age: 22,
  chessAge: 17,
  fideRating: 1882,
  nationalRating: 1592,
  lichessRating: 2008,
  favoritePlayer: "Nodirbek Abdusattorov",
};
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.jade.min.css"
    />
    <title>{pageTitle}</title>
  </head>
  <body>
    <header class="container">
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about/">About</a></li>
          <li><a href="/blog/">Blog</a></li>
        </ul>
      </nav>
    </header>
    <main class="container">
      <h1>{pageTitle}</h1>
      <p>
        Hey there, fellow chess enthusiasts! 🎉 Welcome to my personal corner of
        the chess universe where every move is a dance and every checkmate a
        triumph!
      </p>
      <p>
        I'm {identity.firstName}
        {identity.lastName}, a spirited chess player from the beautiful lands of {
          identity.country
        }. Embarking on my chess journey at the ripe age of {identity.chessAge} back
        in August 2018, I've been joyously diving into the intricacies of the game
        ever since!
      </p>
      <p>
        Despite being relatively young in my chess journey, I've managed to
        achieve a FIDE rating of {identity.fideRating} and a national rating of {
          identity.nationalRating
        }. You might also find me honing my skills on Lichess, where I've
        attained a rating of {identity.lichessRating}.
      </p>
      <p>
        When it comes to chess idols, I bow down to the mighty {
          identity.favoritePlayer
        }! His moves on the board are pure wizardry, and I find endless
        inspiration in his games.
      </p>
      <p>
        So why this blog? I'm here to weave together the threads of my chess
        journey, sharing the thrills and spills, the gambits and
        counter-gambits. Expect regular updates as I chronicle each move,
        providing insights, analysis, and perhaps even a touch of whimsy along
        the way!
      </p>
    </main>
  </body>
</html>
