---
const { platform, username } = Astro.props;

let url: string;
if (platform === "lichess") {
  url = `https://lichess.org/@/${username}`;
} else if (platform === "github") {
  url = `https://github.com/${username}`;
} else if (platform === "chess.com") {
  url = `https://chess.com/member/${username}`;
} else {
  // Handle other platforms if needed
}
---

<a href={url} target="_blank">{platform}</a>
