---
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <p>{frontmatter.pubDate.toString().slice(0, 10)}</p>
  <p><em>{frontmatter.description}</em></p>
  <p>Written by: {frontmatter.author}</p>
  <img src={frontmatter.image.url} width="500" alt={frontmatter.image.alt} />

  <slot />
  <div class="tags">
    {
      frontmatter.tags.map((tag: string) => (
        <p class="tag">
          <a class="contrast" href={`/tags/${tag}`}>
            {tag}
          </a>
        </p>
      ))
    }
  </div>
</BaseLayout>
<style>
  .tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #6f7887;
    border-radius: 0.5em;
    font-size: 1.15em;
    padding: 0.3em 0.5em;
    background-color: #00895A;
  }
</style>
